.store, .mitarbeiter , .page, .container, .weekday{

-webkit-box-shadow: 6px 7px 11px 3px rgba(0,0,0,1);
-moz-box-shadow: 6px 7px 11px 3px rgba(0,0,0,1);
box-shadow: 6px 7px 11px 3px rgba(0,0,0,1);	
}


.buttons_mitarb2{
	display: inline-block;
	background: #410440; /* Old browsers */
	background: -moz-linear-gradient(top, #410440 0%, #410440 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#410440), color-stop(100%,#410440)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #410440 0%,#410440 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #410440 0%,#410440 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #410440 0%,#410440 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#410440', endColorstr='#410440',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #410440 0%,#410440 100%); /* W3C */
	border: 1px solid #bb0;
	padding: 0 2em;
	margin: 0.2em;
	/*font: bold 1em/2em Arial, Helvetica;*/
	text-decoration: none;
	color: #fff;
	border-radius: .2em;
	width:45%;
}

.buttons_mitarb2:before{
	float: left;
	width: 0.8em;
	text-align: center;
	/*font-size: 1.7em;*/
	margin: 0 0.5em 0 -1em;
	padding: 0 .2em;
	pointer-events: none;
}


.save, .preview, .clear, .load , .delete , .add{
  display: inline-block;
  background: #eeeeee;  
  background: -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 100%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#eeeeee)); 
  background: -webkit-linear-gradient(top, #eeeeee 0%,#eeeeee 100%); 
  background: -o-linear-gradient(top, #eeeeee 0%,#eeeeee 100%); 
  background: -ms-linear-gradient(top, #eeeeee 0%,#eeeeee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); 
  background: linear-gradient(top, #eeeeee 0%,#eeeeee 100%);
  border: 1px solid #a1a1a1;
  padding: 0 2em;
  margin: 0.5em;
  font: bold 1em/2em Arial, Helvetica;
  text-decoration: none;
  color: #333;
  border-radius: .2em;
}

.weekday .save, .weekday .preview, .weekday .clear, .weekday .load , .weekday .delete , .weekday .add{
  padding: 0 3px;
  margin: 3px;
}

.save:hover, .preview:hover, .clear:hover, .load:hover , .delete:hover , .add:hover{
  display: inline-block;
  background: #aaa;  
  background: -moz-linear-gradient(top, #aaa 0%, #aaa 100%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aaa), color-stop(100%,#aaa)); 
  background: -webkit-linear-gradient(top, #aaa 0%,#aaa 100%); 
  background: -o-linear-gradient(top, #aaa 0%,#aaa 100%); 
  background: -ms-linear-gradient(top, #aaa 0%,#aaa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaa', endColorstr='#aaa',GradientType=0 ); 
  background: linear-gradient(top, #aaa 0%,#aaa 100%);
  border: 1px solid #0f0;
}



.add:before    { content: "\271A";  color:#0f0;}
.delete:before { content: "\2718";color:#f00;}
.load:before   { content: "\1F4BE";color:#00f;}
.save:before   { content: "\1F4BE";color:#f00;}
.preview:before   { content: "\1F5CE";color:#777}
.clear:before   { content: "\239A";color:#f00}

.add:hover:before    {  color:#4f4;}
.delete:hover:before { color:#f44;}
.load:hover:before   { color:#44f;}
.save:hover:before   { color:#f44;}
.preview:hover:before   { color:#fff}

.clear:hover:before   { color:#f00}
    



th.header1 {
	background-color:#410440;
	color:#fff;
}

body { 
	background-color:#888;
	padding:0px;
	margin:0px;
	border:0px;
	font-weight:bolder;
	font-size:75%;
	color:#000;
	font-family: "arial";

}

label {
	width:30%;
}

.info , .weekday  , .generate{
	width:100%;
	display:inline-block;
	margin-bottom:20px;
}

.store{
	float:left;
	width:45%;
}
.left {
	float:left;
	width:50%;
}
.mitarbeiter {
	float:right;
	width:45%;
}
.right {
	float:right;
	width:45%;
}
.right .buttons {
	float:right;
	width:75%;
}
.left .buttons {
	float:left;
	width:75%;
}


.store table  , .mitarbeiter table{
	width:100%;
}


.store input ,.mitarbeiter input{
	width:95%;
}


.page {
	text-align:center;
	width:100%;
	margin-bottom:20px;
}	
.title {
	padding-top:5px;
	padding-bottom:5px;
	background-color:#410440;
	color:#fff;
}

.container {
	margin:auto;
	padding:10px;
	position:relative; 
	width:900px;
	background-color:#fff;
}



.page_container{
position:absolute; 
	width:100%;
	height:50%;
	margin-top:-25%;
}

table  {
    width:100%;
	background-color:#fff;
	border:1px solid #000000;
	margin:0px;
	padding:0px;
	border-spacing: 0px;
	font-family: "arial";
	font-size:100%;
}
table.check  {
	border:0px solid #000000;
}
.check td {
	float:left;
	border:0px solid #000000;
}



th {
	border: 1px solid #000;
}
td {
	border:1px solid #000000;
    padding:0px;
	margin:0px;
}
input {
	margin:0px;
	padding:0px;
}
td.links {
	border:1px solid #000000;
    border-top-style: solid;
    border-right-style: dotted;
    border-bottom-style: solid;
    border-left-style: solid;

}
td.rechts {
	border:1px solid #000000;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: none;
}


table.pdfrender  {
    width:100%;
	background-color:#fff;
	border:1px solid #000000;
	margin:0px;
	padding:0px;
	border-spacing: 0px;
	font-family: "arial";
	font-size:100%;
}

th.day, th.time, td.data {
	border: 1px solid #000;
}
th.day, th.time {
	font-weight:bolder;
}

th.day {
	font-size:100%;
}

td.rot {
	background-color:#f00;
}

td.links {
	border:1px solid #000000;
    border-top-style: solid;
    border-right-style: dotted;
    border-bottom-style: solid;
    border-left-style: solid;
	width:20px;

}
td.rechts {
	border:1px solid #000000;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: none;
	width:20px;
}

.right a, .header1 a, .icon a{
	float:right;
}

td.td_nb_ld {
    border-top-style: solid;
	border-right-style: solid;
    border-bottom-style: none;
    border-left-style: none;
}
td.td_right {
	text-align:right;
}
td.tdcenter {
	text-align:center;
	vertical-align:middle;
}

table.pdfrender {
    border-top-style: none;
	border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;

}
th.noborder , td.noborder {
	border:0px;
}
.pdf_mitarbeiter th.noborder , .pdf_mitarbeiter td.noborder{
	width:50%;
}

table.pdf_mitarbeiter {
	border:0px;
	padding-top:20px;
	width:100%;
}

th.time {
	width:auto;
}