<!-- Applikation: Store-Wochenplaner
	Developed by Stefan Haß
-->
<div class="container"> 
	<div class="page">
		<div class="title">
			<h1>{{pagetitle}}</h1>
		</div>
	</div>
	<div class="info">
		<div class="store">
			<table>
				<tr>
					<th colspan="7" class="header1">Storeinformation</th>
				</tr>
				<tr>
					<th rowspan="2">Filiale</th>
					<th rowspan="2">Jahr</th>
					<th rowspan="2">Periode</th>
					
					<th colspan="2">Kw</th>
					<th colspan="2">geöffnet</br><div  </th>
				</tr>
				<tr>
					<th>von</th>
					<th>bis</th>
					<th>von</th>
					<th>bis</th>
				</tr>
				<tr>
					<td><input type="text" ng-model="filiale.filnr"       ng-model-onblur  ng-change="change_filiale()"    required ng-pattern="pattern_digit"></td>
					<td><input type="time" ng-model="filiale.year"        ng-model-onblur  ng-change="change_filiale()"    required ng-pattern="pattern_digit" ng-minlength="4" ng-maxlength="4"></td>
					<td><input type="time" ng-model="filiale.periode"     ng-model-onblur  ng-change="change_filiale()"    required ng-pattern="pattern_digit" ng-maxlength="2"></td>
					<td><input type="time" ng-model="filiale.kw_von"      ng-model-onblur  ng-change="change_filiale_kw()" required ng-pattern="pattern_digit" ng-maxlength="2"></td>
					<td><input type="time" ng-model="filiale.kw_bis"      ng-model-onblur  ng-change="change_filiale_kw()" required ng-pattern="pattern_digit" ng-maxlength="2"></td>
					<td><input type="time" ng-model="filiale.uhrzeit_von" ng-model-onblur  ng-change="change_filiale()"    required></td>
					<td><input type="time" ng-model="filiale.uhrzeit_bis" ng-model-onblur  ng-change="change_filiale()"    required></td>
				</tr>
			</table>
		</div>
		<div class="mitarbeiter">
			<table>
				<tr>
					<th class="header1" colspan="3">Mitarbeiter</th>
				</tr>
				<tr>
					<th>Name</th>
					<th>Stunden pro Woche</th>
					<th></th>
				</tr>
				<tr ng-repeat="mitarb in mitarbeiter track by $index">
					<td><input type="text" ng-model="mitarb.name"  required ng-model-onblur class="input-small" ng-change="change_mitarbeiter()"></td>           
					<td><input type="number" ng-model="mitarb.std" required ng-model-onblur class="input-mini" ng-change="change_mitarbeiter()"></td>
					<td>
						<a href ng-click="remove_mitarbeiter($index)" class="buttons_mitarb delete" title="Lösche Mitarbeiter"></a>
					</td>
				</tr>
				<tr>
					<td>Total:</td>
					<td>{{weektotal()}} Stunden</td>
					<td><a href ng-click="add_mitarbeiter($index)" class="buttons_mitarb add" title="Weiterer Mitarbeiter"></a></td>
				</tr>
			</table>
		</div>
	</div>

	<div class="right">
		<a href class="buttons_kw save" ng-click="save_kws()" title="Speichere alle Kalenderwochen"></a>
		<a href class="buttons_kw load"  ng-click="load_kws()" title="Lade alle Kalenderwochen"></a>
		<a href class="buttons_kw clear" ng-click="clear_kws()" title="Lösche alle Kalenderwochen"></a>
	</div>
	
	
	<div ng-repeat="kw in kws">
		<div  class="weekday">
			<div class="generate">
				<div class="left">KW:{{kw.kw}}</div>
				<div class="right">
					<a href class="buttons_kw save" ng-click="save_kw($index)" title="Speichere KW"></a>
					<a href class="buttons_kw load"  ng-click="load_kw($index)" title="Lade KW"></a>
					<a href class="buttons_kw clear" ng-click="clear_kw($index)" title="Lösche Kw"></a>
				</div>
			</div>
			<div ng-repeat="weekday in kw.days">
				<table>
				    <tr>
						<th colspan="18" class="header1">{{getCalendarString(kw.kw,$index)}}
							<a href class="buttons_kw save" ng-click="save_kw_day($parent.$index,$index)" title="Speichere Kalenderwochen-Tag"></a>
							<a href class="buttons_kw load"  ng-click="load_kw_day($parent.$index,$index)" title="Lade Kalenderwochen-Tag"></a>
							<a href class="buttons_kw clear" ng-click="clear_kw_day($parent.$index,$index)" title="Lösche Kalenderwochen-Tag"></a>
						</th>
					</tr>
					<tr>
						<th></th>
						<th ng-repeat="uhrzeit in uhrzeiten" >
							{{uhrzeit.val}}
						</th>
						<th>
							von
						</th>
						<th>
							bis
						</th>
						<th>
							Stunden
						</th>
						<th>
							Rest-Stunden
						</th>
						<th>
						</th>
					</tr>
					<tr ng-repeat="mitarb in weekday.mitarbeiter">
						<TD>{{mitarb.name}}</TD>
						<td ng-repeat="uhrzeit in mitarb.uhrzeiten">
							<table class="check">
								<tr>
									<td>
										<input type="checkbox" ng-model="uhrzeit.voll"  ng-change="calc_mitarbeiter_tag(kw,$parent.$parent.$index, $parent.$index)">
										<input type="checkbox" ng-model="uhrzeit.halb"  ng-change="calc_mitarbeiter_tag(kw,$parent.$parent.$index, $parent.$index)">
									</td>
								</tr>
							</table>
						</td>
						<td>
							{{mitarb.von}}
						</td>
						<td>
							{{mitarb.bis}}
						</td>
						<td>
							{{mitarb.stunden}}
						</td>
						<td>
							{{mitarb.reststunden}}
						</td>
						<td class="icon">
							<a href class="buttons_kw save" ng-click="save_kw_day_mitarbeiter($parent.$parent.$index,$parent.$index,$index)" title="Speichere Mitarbeiter Kalenderwochen-Tag"></a>
							<a href class="buttons_kw load"  ng-click="load_kw_day_mitarbeiter($parent.$parent.$index,$parent.$index,$index)" title="Lade Mitarbeiter Kalenderwochen-Tag"></a>
							<a href class="buttons_kw clear" ng-click="clear_kw_day_mitarbeiter($parent.$parent.$index,$parent.$index,$index)" title="Lösche Mitarbeiter Kalenderwochen-Tag"></a>
						</td>
					</tr>
				    <tr>
						<td colspan="12"></td>
						<td colspan="3">Tagesstunden</td>
						
						<td>{{weekday.std}}</td>
						<td colspan="2"></td>
					</tr>

				    <tr ng-if="$last">
						<td colspan="12"></td>
						<td colspan="3">Wochenstunden</td>
						<td>{{kw.std}}</td>
						<td></td>
						<td></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="generate">
		<div class="left"><a href  class="buttons preview">preview</a></div>
		<div class="right"><a href class="buttons save" ng-click="generierePdf()">Generiere Wochenplan</a></div>
	</div>
	<div id="outputtable" ng-bind-html="doc"></div>
	<div id="pdfoutputtable" ></div>
</div>

